
.footer-project_logo{
    grid-column: 1;
    grid-row: 1;
}
.footer-project_logo img, .footer-project_logo p{
    display: inline-block;
    vertical-align: middle;
}

.footer-project_logo p{
    font-family: "Source Sans Pro";
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
}

.footer-content a {    
    color: inherit;
    text-decoration: none;
}

.footer-content{
    display: grid;    
    padding: 30px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 0px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    color: rgba(255, 255, 255, 0.4);
}

.footer-contact-address{
    grid-column: 3;
    grid-row: 1;
}

.footer-email-address{
    grid-column: 3;
    grid-row: 2;
}

.footer-copyright{
    white-space: nowrap;
    text-align: right;
    grid-column: 6/8;
    grid-row: 2;
}


@media (max-width: 768px) {
    
    .footer-content{
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
    }

    .footer-contact-address{
        grid-column: 1;
        grid-row: 2;
    }
    
    .footer-email-address{
        grid-column: 1;
        grid-row: 3;
    }
    
    .footer-copyright{
        text-align:unset;
        grid-column: 1; 
        grid-row: 4;
    }

}



