body{
    margin: 0;
    padding: 0;
}

.hero{
    background: url(/assets/Desktop_Backgrounds_1920x1200.png) ;
    background-size: cover;
    /* min-width: 100vh; */
    min-height: 100vh;
}


.main {   
    position: relative;
    background: #EEEEEE;
    /* min-width: 100vh; */
    min-height: 100vh;
    background-size: cover;
}

.main h2{   
    margin-top: 0;
}
body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    min-width: 590px;
}
 

.learn_more{
    background: url(/assets/Conference_Background_1200x666.png) ;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}
.learn_more h2 {
    margin-top: 0;
}

.footer {
    position: relative;
    background: #464547;
}

@media (max-width: 768px) {
    body{
        text-align: center;
    }
}