.hero-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top: 20px;
    font-family: 'Source Sans Pro';
}

.hero-header a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.hero-project_name{
    padding-left: 10%;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.1em;
    flex: 1;
    flex-basis: 0;
}

.hero-header span{
    flex: 1;
    flex-basis: 0;
    display: none;
}

.hero-header::after{
    padding-right: 10%;
    content: "";
    flex: 1;
    flex-basis: 0;
}

.hero-navbar ul{
    display: flex;
    justify-content: center;
    line-height: 16px;
    font-weight: 400;
    font-size: 14px;
    padding:0;
    margin: 0;
}

.hero-navbar li{
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
}

.hero-navbar li a{
    letter-spacing: 0.2em;
}

.hero-navbar li a:hover {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}


.hero-content {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-content h1{
    font-family: "Oswald";
    color: #FFFFFF;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
}

.hero-content h2{
    font-family: 'Source Sans Pro';
    color: #FFFFFFB2;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}


@media (max-width: 768px) {
    .hero-navbar{
        display: none;
    }

    .hero-project_name{
        flex: 0;
        padding-left: 5%;
    }
    
    .hero-header span{
        padding-right: 5%;
        flex: 0;
        color: white;
        font-size: 40px;
        display: unset;
    }
    
    .hero-header::after{
        display: none;
    }

}
